In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
ticker = input("Please name a stock ticker").upper()
# period_q = input("Annual or Quarter?").lower()


income_annual_address = f"https://quotes.wsj.com/{ticker}/financials/annual/income-statement"
balance_annual_address = f"https://quotes.wsj.com/{ticker}/financials/annual/balance-sheet"
cash_annual_address = f"https://quotes.wsj.com/{ticker}/financials/annual/cash-flow"

print(income_annual_address)

Please name a stock tickergme
https://quotes.wsj.com/GME/financials/annual/income-statement

In [3]:
html = requests.get(income_annual_address).content
df_list = pd.read_html(html)
df = df_list[1]

In [4]:
##finding first column name to rename-
headers = [df.columns.values]
header = headers[0][0]

##finding by 'Thousands' or 'Millions'-
ending = header[48:58]
ending = ending.replace('.','')
ending = ending.replace(' ','')
ending = str(ending)

##formating and droping NAs
df = df.rename(columns={header:'Labels'})
header0 = headers[0][0]
header1 = headers[0][1]
header2 = headers[0][2]
header3 = headers[0][3]
header4 = headers[0][4]
header5 = headers[0][5]
df = df[['Labels',header1,header2,header3,header4,header5]]
income = df.dropna()
income = income.set_index('Labels')

##Deleting rows with %s
income['percentage'] = ''
income['percentage'][income[header1].str.contains('%')] = 'percentage'
income['percentage'][income[header2].str.contains('%')] = 'percentage'
income = income[income['percentage'] != 'percentage']
income = income.drop(['percentage'],axis=1)

income[header1][income[header1].str.contains('-')] = "0"
income[header2][income[header2].str.contains('-')] = "0"
income[header3][income[header3].str.contains('-')] = "0"
income[header4][income[header4].str.contains('-')] = "0"
income[header5][income[header5].str.contains('-')] = "0"

income[header1] = income[header1].str.replace('\(', '-')
income[header1] = income[header1].str.replace('\)', '')
income[header2] = income[header2].str.replace('\(', '-')
income[header2] = income[header2].str.replace('\)', '')
income[header3] = income[header3].str.replace('\(', '-')
income[header3] = income[header3].str.replace('\)', '')
income[header4] = income[header4].str.replace('\(', '-')
income[header4] = income[header4].str.replace('\)', '')
income[header5] = income[header5].str.replace('\(', '-')
income[header5] = income[header5].str.replace('\)', '')

income[header1] = income[header1].str.replace('\,', '')
income[header2] = income[header2].str.replace('\,', '')
income[header3] = income[header3].str.replace('\,', '')
income[header4] = income[header4].str.replace('\,', '')
income[header5] = income[header5].str.replace('\,', '')



income.head(50)

                                           2018  2017  2016  2015  2014
Labels
Sales/Revenue                              9225  8608  9364  9296  9040
Cost of Goods Sold (COGS) incl. D&A        6335  5764  6602  6667  6545
COGS excluding D&A                         6183  5597  6444  6511  6378
Depreciation & Amortization Expense         152   167   158   157   167
Depreciation                                138   152   145   145   153
Amortization of Intangibles                  13    15    13    12    14
Amortization of Deferred Charges              0     0     0     0     0
Gross Income                               2889  2844  2762  2629  2495
SG&A Expense                               2372  2237  2111  1996  1896
Research & Development                        0     0     0     0     0
Other SG&A                                 2372  2237  2111  1996  1896
Other Operating Expense                       0     0     0     0     0
EBIT                                        518   607     0   633   599
Unusual Expense                             415    34    10     7    25
Non Operating Income/Expense                 33   -16     7    -8     0
Non-Operating Interest Income                 2     1     0     1     1
Equity in Affiliates (Pretax)                 0     0     0     0     0
Interest Expense                             57    54    23    11     6
Gross Interest Expense                       57    54    23    11     6
Interest Capitalized                          0     0     0     0     0
Pretax Income                                80   505   625   608   569
Income Tax                                   46   152   222   215   215
Income Tax - Current Domestic               125   157   195   176   183
Income Tax - Current Foreign                 29    29    29    30    35
Income Tax - Deferred Domestic              -92    -1     4    26    -2
Income Tax - Deferred Foreign               -16   -34    -5   -17    -1
Income Tax Credits                            0     0     0     0     0
Equity in Affiliates                          0     0     0     0     0
Other After Tax Income (Expense)              0     0     0     0     0
Consolidated Net Income                      35   353   403   393   354
Minority Interest Expense                     0     0     0     0     0
Net Income                                   35   353   403   393   354
Extraordinaries & Discontinued Operations     0     0     0     0     0
Extra Items & Gain/Loss Sale Of Assets        0     0     0     0     0
Cumulative Effect - Accounting Chg            0     0     0     0     0
Discontinued Operations                       0     0     0     0     0
Net Income After Extraordinaries             35   353   403   393   354
Preferred Dividends                           0     0     0     0     0
Net Income Available to Common               35   353   403   393   354
EPS (Basic)                                0.34  3.40  3.78  3.47  2.99
Basic Shares Outstanding                    101   103   106   112   117
EPS (Diluted)                              0.34  3.40  3.78  3.47  2.99
Diluted Shares Outstanding                  102   104   107   113   118
EBITDA                                      669   774   809   789   766
EBIT                                        518   607     0   633   599

In [7]:
indices = []
for index, values in income.iterrows():
    index = index.replace('.', '')
    indices.append(index)
# income.set_index(indices)

print(indices)
# income.head()

['Sales/Revenue', 'Cost of Goods Sold (COGS) incl D&A', 'COGS excluding D&A', 'Depreciation & Amortization Expense', 'Depreciation', 'Amortization of Intangibles', 'Amortization of Deferred Charges', 'Gross Income', 'SG&A Expense', 'Research & Development', 'Other SG&A', 'Other Operating Expense', 'EBIT', 'Unusual Expense', 'Non Operating Income/Expense', 'Non-Operating Interest Income', 'Equity in Affiliates (Pretax)', 'Interest Expense', 'Gross Interest Expense', 'Interest Capitalized', 'Pretax Income', 'Income Tax', 'Income Tax - Current Domestic', 'Income Tax - Current Foreign', 'Income Tax - Deferred Domestic', 'Income Tax - Deferred Foreign', 'Income Tax Credits', 'Equity in Affiliates', 'Other After Tax Income (Expense)', 'Consolidated Net Income', 'Minority Interest Expense', 'Net Income', 'Extraordinaries & Discontinued Operations', 'Extra Items & Gain/Loss Sale Of Assets', 'Cumulative Effect - Accounting Chg', 'Discontinued Operations', 'Net Income After Extraordinaries', 'Preferred Dividends', 'Net Income Available to Common', 'EPS (Basic)', 'Basic Shares Outstanding', 'EPS (Diluted)', 'Diluted Shares Outstanding', 'EBITDA', 'EBIT']

In [242]:
thousand = '000'
million = '000000'


for index, row in income.iterrows():
    if ending == 'Thousands':
        row[0] += thousand
        row[1] += thousand
        row[2] += thousand
        row[3] += thousand
        row[4] += thousand
    elif ending == 'Millions':
        row[0] += million
        row[1] += million
        row[2] += million
        row[3] += million
        row[4] += million
    else:
        print("N/A")

income.head()

,2018,2017,2016,2015,2014
Labels,,,,,
Sales/Revenue,9225000000,8608000000,9364000000,9296000000,9040000000
Cost of Goods Sold (COGS) incl. D&A,6335000000,5764000000,6602000000,6667000000,6545000000
COGS excluding D&A,6183000000,5597000000,6444000000,6511000000,6378000000
Depreciation & Amortization Expense,152000000,167000000,158000000,157000000,167000000
Depreciation,138000000,152000000,145000000,145000000,153000000

In [244]:
income_clean = income
income_clean.astype(float)
income_clean.head(50)

,2018,2017,2016,2015,2014
Labels,,,,,
Sales/Revenue,9225000000,8608000000,9364000000,9296000000,9040000000
Cost of Goods Sold (COGS) incl. D&A,6335000000,5764000000,6602000000,6667000000,6545000000
COGS excluding D&A,6183000000,5597000000,6444000000,6511000000,6378000000
Depreciation & Amortization Expense,152000000,167000000,158000000,157000000,167000000
Depreciation,138000000,152000000,145000000,145000000,153000000
Amortization of Intangibles,13000000,15000000,13000000,12000000,14000000
Amortization of Deferred Charges,0000000,0000000,0000000,0000000,0000000
Gross Income,2889000000,2844000000,2762000000,2629000000,2495000000
SG&A Expense,2372000000,2237000000,2111000000,1996000000,1896000000
Research & Development,0000000,0000000,0000000,0000000,0000000
Other SG&A,2372000000,2237000000,2111000000,1996000000,1896000000
Other Operating Expense,0000000,0000000,0000000,0000000,0000000
EBIT,518000000,607000000,0000000,633000000,599000000
Unusual Expense,415000000,34000000,10000000,7000000,25000000
Non Operating Income/Expense,33000000,-16000000,7000000,-8000000,0000000
Non-Operating Interest Income,2000000,1000000,0000000,1000000,1000000
Equity in Affiliates (Pretax),0000000,0000000,0000000,0000000,0000000
Interest Expense,57000000,54000000,23000000,11000000,6000000
Gross Interest Expense,57000000,54000000,23000000,11000000,6000000
Interest Capitalized,0000000,0000000,0000000,0000000,0000000
Pretax Income,80000000,505000000,625000000,608000000,569000000
Income Tax,46000000,152000000,222000000,215000000,215000000
Income Tax - Current Domestic,125000000,157000000,195000000,176000000,183000000
Income Tax - Current Foreign,29000000,29000000,29000000,30000000,35000000
Income Tax - Deferred Domestic,-92000000,-1000000,4000000,26000000,-2000000
Income Tax - Deferred Foreign,-16000000,-34000000,-5000000,-17000000,-1000000
Income Tax Credits,0000000,0000000,0000000,0000000,0000000
Equity in Affiliates,0000000,0000000,0000000,0000000,0000000
Other After Tax Income (Expense),0000000,0000000,0000000,0000000,0000000
Consolidated Net Income,35000000,353000000,403000000,393000000,354000000
Minority Interest Expense,0000000,0000000,0000000,0000000,0000000
Net Income,35000000,353000000,403000000,393000000,354000000
Extraordinaries & Discontinued Operations,0000000,0000000,0000000,0000000,0000000
Extra Items & Gain/Loss Sale Of Assets,0000000,0000000,0000000,0000000,0000000
Cumulative Effect - Accounting Chg,0000000,0000000,0000000,0000000,0000000
Discontinued Operations,0000000,0000000,0000000,0000000,0000000
Net Income After Extraordinaries,35000000,353000000,403000000,393000000,354000000
Preferred Dividends,0000000,0000000,0000000,0000000,0000000
Net Income Available to Common,35000000,353000000,403000000,393000000,354000000
EPS (Basic),0.34000000,3.40000000,3.78000000,3.47000000,2.99000000
Basic Shares Outstanding,101000000,103000000,106000000,112000000,117000000
EPS (Diluted),0.34000000,3.40000000,3.78000000,3.47000000,2.99000000
Diluted Shares Outstanding,102000000,104000000,107000000,113000000,118000000
EBITDA,669000000,774000000,809000000,789000000,766000000
EBIT,518000000,607000000,0000000,633000000,599000000