In [1]:
import os, csv
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time
from financial_reports_collector import filings_collector
import datetime as dt

In [2]:
ticker = input('ticker?').lower()

listing_df = filings_collector(ticker)

listing_df.tail()

ticker?gme

,Filings,Format,Description,Filing Date,File/Film Number
95,SC 13G/A,Documents,0001193125-16-460037,2016-02-11,005-81055161412568
96,SC 13G/A,Documents,0000932471-16-011131,2016-02-10,005-81055161403587
97,SC 13G/A,Documents,0000215457-16-005585,2016-02-10,005-81055161402997
98,8-K,Documents,0001326380-16-000233,2016-01-12,001-32637161337687
99,10-Q,Documents Interactive Data,0001326380-15-000229,2015-12-08,001-32637151276348

In [4]:
quarterly = listing_df.loc[listing_df['Filings'] == '10-Q']
quarterly.head(50)

,Filings,Format,Description,Filing Date,File/Film Number
8,10-Q,Documents Interactive Data,0001326380-18-000122,2018-12-11,001-32637181228868
12,10-Q,Documents Interactive Data,0001326380-18-000113,2018-09-11,001-32637181065090
22,10-Q,Documents Interactive Data,0001326380-18-000075,2018-06-12,001-3263718894609
43,10-Q,Documents Interactive Data,0001326380-17-000127,2017-12-05,001-32637171239896
47,10-Q,Documents Interactive Data,0001326380-17-000106,2017-09-06,001-32637171071698
50,10-Q,Documents Interactive Data,0001326380-17-000078,2017-06-06,001-3263717894261
67,10-Q,Documents Interactive Data,0001326380-16-000419,2016-12-06,001-32637162036443
70,10-Q,Documents Interactive Data,0001326380-16-000406,2016-09-07,001-32637161873821
77,10-Q,Documents Interactive Data,0001326380-16-000366,2016-06-07,001-32637161702080
99,10-Q,Documents Interactive Data,0001326380-15-000229,2015-12-08,001-32637151276348